<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    
    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    
    
    <!-- HTML5 shim for IE backwards compatibility -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    
    <nav class="navbar navbar-inverse navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Hack13App</a>
      </div>
    
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Help</a></li> 
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
    
    <style type="text/css">
      body { background: #B8B8B8; }
    </style>
    
    <div class="container-fluid">
      <div class="col-lg-6 well" style="margin-top:7%; margin-left:23%; background: #006699;">
          <form method="get" action="/search" class="form-inline" >
          <div class="input-group well">
            
            <input name="tech" class="form-control input-lg" type="text"  placeholder="Keywords: OpenStack, LXC, nodejs" >
            <span class="input-group-btn">
              <button type="submit" class="input-group-btn btn btn-lg  "> <i class="glyphicon  glyphicon glyphicon-search glyphicon-white"></i></button>
            </span>
          </div>
          <div class="line" style="margin-top:2%">
            <input name="loc" class="form-control input-lg" type="text"  placeholder="Location: City, Country">
          </div>
          </form>
        </div>
      
      <section class="col-lg-6 well"  style="margin-top:3%; margin-left:23%; background: #006599; color: #ffffff">
        <p >
           <h3 style="text-align: center"> Know intresting facts about technologies you love.</h3>
        </p>
      </section>
      
      <section>
      <div class="thumbnail center well well-small text-center col-lg-6 well"  style="margin-top:2%; margin-left:23%; background: #B8B8B8;">
                 
        <p>Subscribe and stay tuned for updates</p>
          
        <form action="" method="post">
          <div class="input-prepend"><span class="add-on"><i class="icon-envelope"></i></span>
              <input type="text" id="" name="" placeholder="your@email.com">
          </div>
          <br />
          <input type="submit" value="Subscribe Now!" class="btn btn-large" />
        </form>
      </div>
      </section>
      
    </div>
 
    

    
  

  </body>
</html>